* {
    box-sizing: border-box;
}

#logo img {
    margin-left: 60px;
    width: 100px;
    margin-top: 15px;
    margin-bottom: 10px;
}

input[type=text],
select,
textarea :focus-within {
    width: 50rem;
    padding: 12px;
    font-size: 18px;
    border: 1px solid rgb(83, 154, 182);
    border-radius: 4px;
    resize: vertical;
}

input[type=text],
select,
textarea :active {
    width: 50rem;
    padding: 12px;
    font-size: 18px;
    border: 1px solid rgb(83, 154, 182);
    border-radius: 4px;
    resize: vertical;
}

input[type=email],
select,
textarea {
    width: 50rem;
    padding: 12px;
    font-size: 18px;
    border: 1px solid rgb(70, 68, 68);
    border-radius: 4px;
    resize: vertical;
}

input[type=email],
select,
textarea :active {
    width: 50rem;
    padding: 12px;
    font-size: 18px;
    border: 1px solid rgb(83, 154, 182);
    border-radius: 4px;
    resize: vertical;
}

#subject {
    width: 50rem;
    padding: 12px;
    font-size: 18px;
    border: 1px solid rgb(83, 154, 182);
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: rgb(37, 116, 161);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    right: 5%;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5 px;
    background-color: #f2f2f2;
    padding: 20px;
    width: max-content;
    /* align-items: center; */
    position: absolute;
    float: right;
    border-radius: 20px;
    right: 20vw;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    margin-left: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

h2 {
    margin-left: 20px;
    font-size: 30px;
    color: slategrey;
    font-family: cursive;
}